<container class="contact">
<h2><strong>Julie Berryhill</strong></h2>
<h3><a href="https://www.linkedin.com/in/julie-berryhill-8978591b/"></a>Find Me On Linkedin</h3>
<h3><a href="https://github.com/Findjules2"></a>Find Me On Github</h3>
<br></br>
<h2><strong>Jordan Coughenour</strong></h2>
<h3><a href="https://www.linkedin.com/in/jordan-coughenour-3310a2197/"></a>Find Me On Linkedin</h3>
<h3><a href="https://Coughenour87"></a>Find Me On Github</h3>
<br></br>
<h2><strong>Justin Montgomery</strong></h2>
<h3><a href="https://www.linkedin.com/in/justin-montgomery-62a46a16a/"></a>Find Me On Linkedin</h3>
<h3><a href="https://github.com/JustinMonty20"></a>Find Me On Github</h3>
<br></br>
</container>