<container class="contact">
<h2><strong>Julie Berryhill</strong></h2>
<h3><a href="https://www.linkedin.com/in/julie-berryhill-8978591b/">Find Me On Linkedin</a></h3>
<h3><a href="https://github.com/Findjules2">Find Me On Github</a></h3>
<br></br>
<h2><strong>Jordan Coughenour</strong></h2>
<h3><a href="https://www.linkedin.com/in/jordan-coughenour-3310a2197/">Find Me On Linkedin</a></h3>
<h3><a href="https://github.com/Coughenour87">Find Me On Github</a></h3>
<br></br>
<h2><strong>Justin Montgomery</strong></h2>
<h3><a href="https://www.linkedin.com/in/justin-montgomery-62a46a16a/">Find Me On Linkedin</a></h3>
<h3><a href="https://github.com/JustinMonty20">Find Me On Github</a></h3>
<br></br>
</container>