<div class="columns is-desktop">

    <div class="column">
        <div class="container">
            <div class="notification">
                <strong>Football Items For Sale</strong>. <a href="/items/football">View Items</a>
            </div>
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://images.unsplash.com/photo-1566577739112-5180d4bf9390?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1526&q=80"
                            alt="Placeholder image">
                    </figure>
                </div>
            </div>
        </div>
    </div>
     <div class="column">
        <div class="container">
            <div class="notification">
                <strong>Basketball Items</strong>. <a href="/items/basketball">View Items</a>
            </div>
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://s.yimg.com/ny/api/res/1.2/umHJJQAzal.Ar.laG6bGWQ--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAw/http://media.zenfs.com/en/homerun/feed_manager_auto_publish_494/b427d19dd6238628dc7fa8acc2c212d3"
                            alt="Placeholder image">
                    </figure>
                </div>
            </div>
        </div>
    </div>
     <div class="column">
        <div class="container">
            <div class="notification">
                <strong>Baseball Items</strong>. <a href="/items/baseball">View Items</a>
            </div>
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://cropper.watch.aetnd.com/cdn.watch.aetnd.com/sites/2/2018/05/ask-history-who-invented-baseball.jpg"
                            alt="Placeholder image">
                    </figure>
                </div>
            </div>
        </div>
    </div>
     <div class="column">
        <div class="container">
            <div class="notification">
                <strong>Soccer Items</strong>. <a href="/items/soccer">View Items</a>
            </div>
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://d36m266ykvepgv.cloudfront.net/uploads/media/YenuoB87dp/s-800-533/csc-soccer-1.jpg"
                            alt="Placeholder image">
                    </figure>
                </div>
            </div>
        </div>
    </div>
     <div class="column">
        <div class="container">
            <div class="notification">
                <strong>All other Sports Items</strong>. <a href=>Coming Soon</a>
            </div>
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://image.shutterstock.com/image-photo/huge-multi-sports-collage-soccer-260nw-650017768.jpg"
                            alt="Placeholder image">
                    </figure>
                </div>
            </div>
        </div>
    </div>

</div>