<div class="container">
    {{!-- <div class="notification">
            <strong>Football Items For Sale</strong>. <a href="#">View Items</a>
        </div> --}}

    <div class="columns is-desktop">

        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://images.unsplash.com/photo-1566577739112-5180d4bf9390?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1526&q=80"
                            alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">

                        <div class="media-content">
                            <p class="title is-4">Name of Item</p>
                            <p class="subtitle is-6">Price of Item</p>
                        </div>
                    </div>

                    <div class="content">
                        This is a brief description.
                        <a href="#">Buy</a>
                        <br>

                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://images.unsplash.com/photo-1566577739112-5180d4bf9390?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1526&q=80"
                            alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">

                        <div class="media-content">
                            <p class="title is-4">Name of Item</p>
                            <p class="subtitle is-6">Price of Item</p>
                        </div>
                    </div>

                    <div class="content">
                        This is a brief description.
                        <a href="#">Buy</a>
                        <br>

                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://images.unsplash.com/photo-1566577739112-5180d4bf9390?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1526&q=80"
                            alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">

                        <div class="media-content">
                            <p class="title is-4">Name of Item</p>
                            <p class="subtitle is-6">Price of Item</p>
                        </div>
                    </div>

                    <div class="content">
                        This is a brief description.
                        <a href="#">Buy</a>
                        <br>

                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://images.unsplash.com/photo-1566577739112-5180d4bf9390?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1526&q=80"
                            alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">

                        <div class="media-content">
                            <p class="title is-4">Name of Item</p>
                            <p class="subtitle is-6">Price of Item</p>
                        </div>
                    </div>

                    <div class="content">
                        This is a brief description.
                        <a href="#">Buy</a>
                        <br>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>