<div class="container">
    {{!-- <div class="notification">
            <strong>Football Items For Sale</strong>. <a href="#">View Items</a>
        </div> --}}

    <div class="columns is-desktop">

        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://i.imgur.com/6Y3HiVM.jpg"
                            alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">

                        <div class="media-content">
                            <p class="title is-4">Sam Mills Jersey</p>
                            <p class="subtitle is-6">$75</p>
                        </div>
                    </div>

                    <div class="content">
                        Retired stitched Sam Mills Keep Pounding Jersey.
                        <a href="#">Buy</a>
                        <br>

                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://i.imgur.com/9pHh9K5.jpg"
                            alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">

                        <div class="media-content">
                            <p class="title is-4">Steve Davis Jersey</p>
                            <p class="subtitle is-6">$60</p>
                        </div>
                    </div>

                    <div class="content">
                        2003 NFC Championship Jersey for the Carolina Panthers.
                        <a href="#">Buy</a>
                        <br>

                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://i.imgur.com/vyIaxRM.jpg"
                            alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">

                        <div class="media-content">
                            <p class="title is-4">Luke Kuechly Jersey</p>
                            <p class="subtitle is-6">$60</p>
                        </div>
                    </div>

                    <div class="content">
                        Limited edition Salute to Service Jeresey for the Carolina Panthers.
                        <a href="#">Buy</a>
                        <br>

                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://i.imgur.com/dcswyeE.jpg"
                            alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">

                        <div class="media-content">
                            <p class="title is-4">Steve Smith Jersey</p>
                            <p class="subtitle is-6">$40</p>
                        </div>
                    </div>

                    <div class="content">
                        Vintage Carolina Panthers Jersey.
                        <a href="#">Buy</a>
                        <br>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>