<div class="wrapper">
    <header>
        <h1></h1>
    </header>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    SPORTSWAPPA
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Choose a Sport
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Football
                        </a>
                        <a class="navbar-item">
                            Basketball - Coming Soon
                        </a>
                        <a class="navbar-item">
                            Baseball - Coming Soon
                        </a>
                        <a class="navbar-item">
                            Soccer - Coming Soon
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            All other sports - Coming Soon
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                            Log in
                        </a>
                        <a class="button is-light">
                            Sell Item
                        </a>
                        <a class="button is-light">
                            Cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        {{!-- <div class="notification">
            <strong>Football Items For Sale</strong>. <a href="#">View Items</a>
        </div> --}}
     
                <div class="columns is-desktop">
                    
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="https://images.unsplash.com/photo-1566577739112-5180d4bf9390?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1526&q=80"
                                        alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">

                                    <div class="media-content">
                                        <p class="title is-4">Name of Item</p>
                                        <p class="subtitle is-6">Price of Item</p>
                                    </div>
                                </div>

                                <div class="content">
                                    This is a brief description.
                                    <a href="#">Buy</a>
                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="https://images.unsplash.com/photo-1566577739112-5180d4bf9390?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1526&q=80"
                                        alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">

                                    <div class="media-content">
                                        <p class="title is-4">Name of Item</p>
                                        <p class="subtitle is-6">Price of Item</p>
                                    </div>
                                </div>

                                <div class="content">
                                    This is a brief description.
                                    <a href="#">Buy</a>
                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="https://images.unsplash.com/photo-1566577739112-5180d4bf9390?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1526&q=80"
                                        alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">

                                    <div class="media-content">
                                        <p class="title is-4">Name of Item</p>
                                        <p class="subtitle is-6">Price of Item</p>
                                    </div>
                                </div>

                                <div class="content">
                                    This is a brief description.
                                    <a href="#">Buy</a>
                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                      <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="https://images.unsplash.com/photo-1566577739112-5180d4bf9390?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1526&q=80"
                                        alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">

                                    <div class="media-content">
                                        <p class="title is-4">Name of Item</p>
                                        <p class="subtitle is-6">Price of Item</p>
                                    </div>
                                </div>

                                <div class="content">
                                    This is a brief description.
                                    <a href="#">Buy</a>
                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>

    </div>
</div>



<footer>
    <h4>Contact Us</h4>
</footer>