<div class="wrapper">
    <header>
        <h1></h1>
    </header>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    SPORTSWAPPA
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Choose a Sport
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Football
                        </a>
                        <a class="navbar-item">
                            Basketball - Coming Soon
                        </a>
                        <a class="navbar-item">
                            Baseball - Coming Soon
                        </a>
                        <a class="navbar-item">
                            Soccer - Coming Soon
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            All other sports - Coming Soon
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                            Log in
                        </a>
                        <a class="button is-light">
                            Sell Item
                        </a>
                        <a class="button is-light">
                            Cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="field">
            <label class="label">Choose Sport</label>
            <div class="control">
                <div class="select">
                    <select>
                        <option>Football</option>
                        <option>Basketball</option>
                        <option>Baseball</option>
                        <option>Soccer</option>
                        <option>All Other Sports</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Professional or Non-professional</label>
            <div class="control">
                <div class="select">
                    <select>
                        <option>Professional Sports</option>
                        <option>College and below</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Name of Item to Sell</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input">
            </div>
        </div>
        <div class="field">
            <label class="label">Link to Picture of Item</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input">
            </div>
            </d<div class="field">
            <label class="label">Price of Item</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input">
            </div>
        </div>
        <div class="field">
            <label class="label">Brief Description of Item</label>
            <div class="control">
                <textarea class="textarea" placeholder="Textarea"></textarea>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox">
                    I agree to the <a href="#">terms and conditions</a>
                </label>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary">Submit</button>
            </div>
            <div class="control">
                <button class="button is-link is-light">Cancel</button>
            </div>
        </div>
    <br></br>
    </div>

    <footer>
        <h4>Contact Us</h4>
    </footer>